.gradle
/gradle/
build/
logs/
gradlew
gradlew.bat
settings.gradle
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache
/gradle/wrapper/
/addressbook-web-tests/gradle/wrapper/gradle-wrapper.jar
/addressbook-web-tests/gradle/wrapper/gradle-wrapper.properties
/.DS_Store
.DS_Store
*.log
/.idea/uiDesigner.xml
/.idea/vcs.xml
